@import "tailwindcss";

@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;

  --color-neutral-50: #ffffff;
  --color-neutral-100: #c6c6c6;
  --color-neutral-200: #9d9d9d;
  --color-neutral-300: #454547;
  --color-neutral-400: #3d3d3d;
  --color-neutral-500: #2e2e2e;
  --color-neutral-600: #202022;
  --color-neutral-700: #171719;
  --color-neutral-900: #0a0a0a;
  --color-lime-500: #cef739;
  --color-lime-800: #283300;
  --color-green-500: #42eb05;
  --color-red-500: #ff4141;

  --shadow-check-rate: 0 12px 40px 0 rgba(0, 0, 0, 0.4);
}

.dropdown-anchor {
  anchor-name: --dropdown-anchor;
}

.dropdown-content {
  position-anchor: --dropdown-anchor;
  top: calc(anchor(top) + 50px);
  left: calc(anchor(left) - 0px);
  width: calc(100% - 30px);
}
